.slider {
    padding: 108px 0;
    margin-bottom: 27px;
    &__container {
        position: relative;
        max-width: 950px;
        margin: 0 auto;
    }

    .slick {
        &-arrow  {
            position: absolute;
            width: 30px;
            height: 50px;
            top: 50%;
            color: transparent;
            background-repeat: no-repeat;
            background-size: 31px 50px;
            background-position: center;
            transform: translateY(-50%);

            &:focus-visible {
                outline: none;
                box-shadow: 0 0 4px 3px rgb(146, 79, 79);
            
            }
        }
    
        &-prev {
            left: 0;
            background-image: url(../img/left-arrow.png);
        }
    
        &-next {
            right: 0;
            background-image: url(../img/right-arrow.png);
        }

        &-dots {
            display: flex;
            justify-content: center;
            li {
                &:not(:last-child) {
                    margin-right: 15px;
                }
                button {
                    font-size: 0;
                    width: 15px;
                    height: 15px;
                    background-color: $guardsman-red-color;
                    border-radius: 100%;
                }
            }
        }

        &-active { 
            button {
                background-color: $cod-gray-color !important;
            }
        }

        &-slide img {
            margin: 0 auto;
        }
    }

}


