@media (max-width: 1080px) {
    .container {
        padding: 0 20px;
    }
    .header {
        &__representative {
            padding-right: 0;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            line-height: 10px;
            &-name {
                font-size: 16px;
                line-height: 30px;
            }
        }

        &__contacts {
            &-phone {
                font-size: 14px;
                line-height: 14px;
            }
        }
    }

    .catalogue {
        .tabs {
            &__price {
                font-size: 16px;
                line-height: 16px; 
            }
    
            &__small-price {
                font-size: 12px;
                line-height: 12px;
            }
        }

        .price-btn {
            padding: 9px 25px;
        }
    }

    .reviews {

        &__item {
            align-items: center;
            &-left {
                width: calc((100% / 2) - 35px);
            }
            &-right {
                padding-right: 0;
            }
        }
    }
}


@media(max-width: 784px) {
    .header {
        &__container {
            align-items: center
        }
        &__logo {
            width: 25%;
        }

        &__representative {
            font-size: 10px;
            &-name {
                font-size: 14px;
            }
        }
    }
    .advantages {
        &__wrapper {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        &__item {
            width: calc((100% / 2) - 52px);
            &:first-child {
                margin-right: 50px;
            }
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }

    .catalogue {
        .tabs {
            &__btn {
                padding: 12px 26px;
                font-size: 14px;
            }
            &__item {
                width: 47%;
                margin-right: 0;
                margin-bottom: 0;
                &:nth-child(odd) {
                    margin-right: 17px;
                }
                &:not(:nth-last-child(-n+2))  {
                    margin-bottom: 20px;
                }

            }
        }
    }

    .reviews {
        &__item {
            flex-direction: column;
            text-align: center;
            &-left {
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }
}

@media (max-width: 544px) {
    .header {
        &__logo {
            width: 50%;
        }
        &__representative {
            display: none;
        }
    }
    .hero {
        padding-top: 160px;
        padding-bottom: 72px;
        &__container {
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        &__title {
            margin-bottom: 17px;
            font-size: 36px;
            line-height: 38px
        }
        &__sub-title {
            margin-bottom: 50px;
            font-size: 17px;
            line-height: 17px;
        }
        &__block {
            margin-bottom: 50px;
            justify-content: center;
        }
    }

    .advantages {
        padding-top: 60px;
        padding-bottom: 60px;
        &__item {
            width: 100%;
            &:first-child {
                margin-right: 0;
            }
        }
    }

    .consultation {
        padding-top: 56px;
        padding-bottom: 66px;
        &__container {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        &__title {
            width: 100%;
            font-size: 26px;
            line-height: 38px;
        }
        &__descr {
            margin-bottom: 24px;
            font-size: 16px;
            line-height: 20px;
        }
    }

    .slider {
        padding: 90px 0;
        margin-bottom: 0;
    }

    .catalogue {
        .tabs {
            margin-bottom: 32px;
            &__item {
                width: 100%;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                &:nth-child(odd) {
                    margin-right: 0;
                }
            }
            &__btn {
                padding: 10px 10px;
                font-size: 12px;
                &:not(:last-of-type) {
                    margin-right: 3px;
                }
            }
        }

        &__title {
            margin-bottom: 20px;
            text-align: center;
        }
    }

    .footer {
        &__info {
            max-width: 260px;
            min-height: 110px;
            padding: 20px;
        }
        &__address {
            margin-bottom: 20px;
            font-size: 12px;
            line-height: 12px;
        }
        &__phone {
            margin-bottom: 12px;
        }
        &__item {
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
        &__link {
            width: 32px;
            height: 32px;
            background-size: cover;
        }
    }
}

@media (max-width: 375px) {
    .header {
        &__contacts-btn {
            padding: 7px 14px;
            font-size: 10px;
        }
    }
    .hero {
        &__sub-title {
            margin-bottom: 32px;
        }
        &__item{
            font-size: 11px;
            max-width: 34%;
            padding-top: 65px;
            &:not(:last-child) {
                margin-right: 12px;
            }
        }
    }

    .consult-btn {
        padding: 12px 26px;
    }

    .catalogue {
        .tabs {
            &__btn {
                font-size: 9px;
            }
        }
    }

    .reviews {
        &__title {
            margin-bottom: 32px;
        }
        &__item {
            &-left {
                margin-bottom: 30px;
            }
        }

        &__paragraph {
            font-size: 14px;
            line-height: 22px;
        }

    }
}